body {
	color: black;
	margin: 0;
}

a {
	font-family: amaticCustom;
	color: #ddd;
	text-decoration: none;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

a:hover {
	color: #999999;
}

.blue {
	background: url(images/backgroundBlue.jpg) 50% 0 fixed; 
}

.orange {
	background: url(images/backgroundOrange.jpg) 50% 0 fixed; 
}

.tbn-section {
	z-index: -1000;
	text-align: center;
	overflow: hidden;
	position: relative;
	height: 500px;
	font-size: 17px;
	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}	

.tbn-section-overlay {
	background-color: rgba(17,51,68,.5); 
	width: 100%;
	height: 100%;
}

.tbn-centered {
	position: absolute;
    top: 50%; left: 50%;
	width: 75%;
	padding: 2em;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
	transform: translate(-50%, -50%);
}

.header {
	font-size: 40px;
	padding-top: 2em;
	font-family: amaticCustom
}

#footer {
	background-color: black;
}

#top-nav {
	overflow: hidden;
	background-image: url('images/bannerRaw.jpg');
	background-position: -70px -100px;
	font-family: 'amaticCustom';
	box-shadow: 0 0 50px #000000;
	color: white;
}

#top-nav-overlay {
	padding: 5px;
	overflow: hidden;
	background: rgba(0,0,0,.3);
}

#title {
	float: left;
	font-size: 5em;
	text-align: center;
}

#nav {
	float: right;
	font-size: 3em;
	vertical-align: middle;
	padding-top: 1em;
}


@media (max-width: 1000px) {
  #nav {
  	float: none;
  	text-align: center;
  }

  #title {
  	float: none;
  	text-align: center;
  }
}

@media (max-width: 570px) {
	#about {
		font-size: 15px;
	}
}

@font-face {
    font-family: 'amaticCustom';
    src: url(fonts/amatic/amatic.ttf);
}
